$white: #fff;
$black: #000;

$text: #002b4f;
$link: #009ca2;
$bg: #edf1f6;
$icon: #bdbdbd;

$btn-blue: #1976d2;
$btn-blue_hover: #0f6bc5;
$btn-red: #a40843;
$btn-red_hover: #860435;

$grad-begin: #2e6db6;
$grad-end: #5bc48c;


$padding: 50px;



